<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Yayın Ekleme</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>

<body>
    <header>
        <div class="wrapper">
            <ul class="nav-area">
                <li><a href="{% url 'addAuthor' %}">Araştırmacı Ekleme</a></li>
                <li><a href="{% url 'addCoauthor' %}">Ortak Araştırmacı Ekleme</a></li>
                <li><a href="{% url 'addJournal' %}">Yayın Ekleme</a></li>
                <li><a href="{% url 'addType' %}">Tür Ekleme</a></li>
                <li><a href="{% url 'typePublication' %}">Tür Yayın İlişkisi</a></li>
                <li><a href="{% url 'home' %}">Çıkış Yap</a></li>
                
            </ul>
        </div>

        <div class="container-fuild text-center ">


            <form method="POST" style="position: absolute;
            top: 150px; left: 550px;
            max-width: 350px; margin:0 auto; ">
                {% csrf_token %}
                {% if error %}
                <div class="alert alert-danger">
                    {{error}}
                </div>
                {% endif %}
                {{login_faild}}
    
                <p style="color:rgb(0, 255, 204)"><b>Lütfen Eklenecek Bilgileri Giriniz</b></p>
                <p>
                    <input type="text" class="form-control" name="journalName" placeholder="Yayın Adı">
                </p>
                <p>
                    <input type="text" class="form-control" name="journalDate" placeholder="Yayın Tarihi">
                </p>
                <p>
                    <input type="text" class="form-control" name="journalPlace" placeholder="Yayın Yeri">
                </p>
                <p>
                    <input type="text" class="form-control" name="journalType" placeholder="Yayın Türü">
                </p>
                <p>
                    <input type="text" class="form-control" name="authorName" placeholder="Araştırmacı Adı">
                </p>
                <p>
                    <input type="text" class="form-control" name="authorSurname" placeholder="Araştırmacı Soyadı">
                </p>
  
                <p>
                    <input type="submit" value="Kaydet" class="btn btn-outline-light" />
                    <!-- style="background: -webkit-linear-gradient( rgb(47, 119, 179),rgb(0, 255, 204));-webkit-text-fill-color: white; width:200px;" /> -->
                </p>
    
    
            </form>
    
        </div>

    </header>
 

   

</body>

</html>